/* ==========================================================================
   MASTHEAD
   ========================================================================== */

  // #020409 深蓝色系  #3b3b3b 灰色系
.masthead {
  position: fixed;
  background: #020409;  
  border-bottom: 1px solid $border-color;
  height: $masthead-height;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  background-color: #020409; /* 修改背景颜色为 #3b3b3b */

  &:hover {
    background-color: #555555; /* 悬停时的背景颜色 */
    color: #9bd0d4; /* 悬停时的字体颜色，设置为白色 */
  }

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
