---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入编译好的 CSS 文件 -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <!-- 自定义的轮播图 CSS，设置圆形指示器等 -->
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- 黑夜模式切换按钮放在页脚之前 -->
    <div class="toggle-container">
      <label class="switch">
        <input type="checkbox" id="dark-mode-toggle">
        <span class="slider round"></span>
      </label>
      <span class="toggle-text">Dark Mode</span>
    </div>

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- 在这里添加引入 JavaScript 文件 -->
    <script src="/assets/js/scripts.js"></script>

    <!-- 轮播图所需的 Bootstrap JS 和依赖 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- 鼠标选题暂停轮播 -->
    <script>
      $(document).ready(function(){
        $('#researchCarousel').carousel({
          interval: 2000,  // 轮播时间间隔
          pause: "hover"   // 鼠标悬停时暂停轮播
        });
      });
    </script>

  鼠标点击停播按钮停播 -->
  <script>
    let isPaused = false;
    const carouselElement = document.querySelector('#researchCarousel');
    function toggleCarouselPause() {
      const carouselIcon = document.getElementById('carouselIcon');
  
      if (isPaused) {
        $('#researchCarousel').carousel('cycle');
        carouselIcon.classList.remove('fa-play');
        carouselIcon.classList.add('fa-pause');
      } else {
        $('#researchCarousel').carousel('pause');
        carouselIcon.classList.remove('fa-pause');
        carouselIcon.classList.add('fa-play');
      }
      isPaused = !isPaused;
    }
  </script>


    <script type="text/javascript" src="//counter.websiteout.net/js/45.js"></script>
  </body>
</html>
