---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    <!-- 黑夜模式切换按钮放在页脚之前 -->
    <button id="dark-mode-toggle">Toggle Dark Mode</button>


    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- 在这里添加引入 JavaScript 文件 -->
    <script src="/assets/js/scripts.js"></script>

  </body>
</html>
